<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digital.dance.dao.SystemUserRoleDao">
    <resultMap id="systemUserRoleMap" type="systemUserRoleEO">
        <result column="userId" property="userId" jdbcType="VARCHAR"/>
        <result column="roleId" property="roleId" jdbcType="VARCHAR"/>
    </resultMap>
    
    
	<!-- 插入用户的角色-->
	<insert id="addSystemUserRole" useGeneratedKeys="false" parameterType="systemUserRoleEO">
	       <![CDATA[
	      insert into system_user_role
	      (
				userId            ,
				roleId
	      )
	      values
	      (
				#{userId,jdbcType=VARCHAR},
				#{roleId,jdbcType=VARCHAR}
	      )
	      ]]>
	</insert>  
	  
  	<!-- 插入多角色-->
	<insert id="addSystemUserRoles" useGeneratedKeys="false" parameterType="systemRoleEO">
        <!-- 批量插入用户的角色SQL-->
        <foreach item="item" collection="list" index="index" separator=";">
       		insert into system_user_role
       		(
       			userId			,
       			roleId
       		)
       		values
       		(
       			#{item.userId,jdbcType=VARCHAR},
       			#{item.roleId,jdbcType=VARCHAR}
       		)
       </foreach>
  	</insert>  
	
    <select id="findSystemUserRoleByUserId" resultMap="systemUserRoleMap" parameterType="string">
       SELECT userId,roleId FROM system_user_role
       where userId=#{userId,jdbcType=VARCHAR}
       limit 1
    </select>
    <select id="findSystemUserRoleByRoleId" resultMap="systemUserRoleMap" parameterType="string">
       SELECT userId,roleId FROM system_user_role
       where roleId=#{roleId,jdbcType=VARCHAR}
       limit 1
    </select>
    	  
    <select id="findPagedSystemUserRoles" resultMap="systemUserRoleMap" parameterType="systemUserRoleEO">
        SELECT * FROM system_user_role ur
        join user_role r
        on ur.roleId = r.roleId
      	join system_user u
	    on ur.userId = u.userId
	    where 1=1
		<if test="roleId != null">
		    and ur.roleId =#{roleId,jdbcType=VARCHAR}
	    </if>
		<if test="userId != null">
		    and ur.userId =#{userId,jdbcType=VARCHAR}
		</if> 
		limit #{pageSize,jdbcType=INTEGER} offset #{offsetNum,jdbcType=INTEGER} 
    </select>
    
    <select id="findAllSystemUserRoles" resultMap="systemUserRoleMap" parameterType="systemUserRoleEO">
        SELECT * FROM system_user_role ur
        join user_role r
        on ur.roleId = r.roleId
        join system_user u
	    on ur.userId = u.userId
	    where 1=1
		<if test="roleId != null">
		    and ur.roleId =#{roleId,jdbcType=VARCHAR}
	    </if>
		<if test="userId != null">
		    and ur.userId =#{userId,jdbcType=VARCHAR}
		</if> 
    </select>
    
 	<select id="searchPagedSystemUserRoles" resultMap="systemUserRoleMap" parameterType="systemUserRoleEO">
       SELECT * FROM system_user_role ur
       join user_role r
       on ur.roleId = r.roleId
       join system_user u
       on ur.userId = u.userId
       where 1=1
       <if test="roleId != null">
       		and ur.roleId like concat(concat('%',#{roleId,jdbcType=VARCHAR}),'%')
       </if>
       <if test="userId != null">
       		and ur.userId like concat(concat('%',#{userId,jdbcType=VARCHAR}),'%')
       </if>
       limit #{pageSize,jdbcType=INTEGER} offset #{offsetNum,jdbcType=INTEGER}
    </select>
    
    <select id="searchAllSystemUserRoles" resultMap="systemUserRoleMap" parameterType="systemUserRoleEO">
       SELECT * FROM system_user_role ur
       join user_role r
       on ur.roleId = r.roleId
       join system_user u
       on ur.userId = u.userId
       where 1=1
       <if test="roleId != null">
           and ur.roleId like concat(concat('%',#{roleId,jdbcType=VARCHAR}),'%')
       </if>
       <if test="userId != null">
       	   and ur.userId like concat(concat('%',#{userId,jdbcType=VARCHAR}),'%')
       </if>
    </select>
    
    <update id="updateSystemUserRoles" parameterType="systemUserRoleEO">    
	</update>   
  
	<delete id="deleteSystemUserRoles" parameterType="systemUserRoleEO">
		<foreach item="item" collection="list" index="index" separator=";">
			<if test="item.roleId != null or item.userId != null" >
				DELETE FROM system_user_role where 1=1
				<if test="item.roleId != null">
					and roleId = #{item.roleId,jdbcType=VARCHAR}
				</if>
				<if test="item.userId != null">
					and userId = #{item.userId,jdbcType=VARCHAR}
				 </if>
			 </if>
		</foreach>
	</delete>
</mapper>