body,html{font-size:12px; font-family:"Arial"; margin:0; padding:0; color:#000;  background:url(../images/body_bg.jpg) repeat;}
a:focus{outline:0;} 

#head{width:100%; height:58px; line-height:58px; background:#f03b6e; text-align:left;border-bottom:1px solid #fff;}
#head .inner {width:910px;height:58px; margin:0px auto; position:relative;}
#head .inner div.logo{display:inline;float:left;width:368px;height:58px;overflow:hidden;}
#head .inner .ad {width:340px; height:96px; background:url(../images/top_ad.jpg) no-repeat; position:absolute; top:0px; right:1px;  z-index:100;}

#content {width:375px; 
margin:0px auto; position:relative; background:url(../images/main_bg.jpg) repeat-y; overflow:hidden;
}
.tab {width:460px;padding-left:2px;
overflow:hidden; font-size:14px;
    height: 31px;
}
.tab li { height:30px; line-height:30px; padding:0px 20px; margin-right:10px; background:url(../images/tab_bg1.gif) repeat-y; float:left; color:#000; text-align:center; position:relative; cursor:pointer;
    top: -48px;
    left: 12px;
}
.tab li span {width:5px; height:30px; background:url(../images/tab_bg1.gif) top right; position:absolute; top:0px; right:0px; }
.tab li.hover {height:32px;background:url(../images/tab_bg2.png) repeat-y; color:#fff; position:relative; DropShadow(Color=#d72647, OffX=1, OffY=1, Positive=1);text-shadow: 9px;
    top: 7px;
    }
.tab li.hover span {width:5px; height:30px; background:url(../images/tab_bg2.png) top right; position:absolute; top:0px; right:0px; }

.tab_content {width:100%; margin:0px auto; padding-left:1px;}
.tab_content .content_bg {width:100%; padding-bottom:50px; background:url(../images/main_bg2.jpg) bottom left  no-repeat; overflow:hidden;}
.wel { font-size:18px; color:#e65469; font-weight:bold; text-align:left; clear:both; padding-left:0px}
.tab_content .content_bg h3 {width:95%; font-size:14px; text-align:left; margin:0px auto;}
.tab_content .content_bg h3 span { color:#ccc; font-weight:400;}

.login-form {width:100%;overflow:hidden; margin:20px auto 0px auto; padding-bottom:100px; margin-left:0px;}
.login-form dl {width:100%; height:45px; line-height:45px;float:left;}
.login-form dl.btn {padding:20px 0px 5px 0px; overflow:hidden;}
.login-form dl dd.left {width:65px; height:30px; line-height:30px; float:left; text-align:right; font-size:12px; color:#333;}
.login-form dl dd.right {width:187px; line-height:45px; float:left; text-align:left;}
.login-form dl dd .text {width:167px; padding-left:5px; height:22px; line-height:20px; border:1px #D9D9D9 solid; color:#999; margin-right:30px;}
.btn_login{display:block;width:187px;height:46px;line-height:46px;text-align:center;color:#fff;font-size:13px;font-family:'microsoft yahei';background:url(../images/reg_btn_02.png) no-repeat left top;cursor:pointer;text-shadow:0px 0px 0px #188fb0;}
.btn_login:hover{background-position:0px bottom;text-decoration:none;}
.login-form .blue:hover {color:#F03B85;}
.btn_login span{font-size:16px;}

/*重写*/
.dubai { float:left; clear:both;}
.reg_tip {width:100%; clear:both; text-align:left;}
.reg_inner {width:415px; margin:0px auto; border:1px #ccc solid; background:none; overflow:hidden;text-align:left;}
.reg_inner h3 {width:95%; font-size:14px; text-align:left; margin:0px auto;}
/*.reg_inner h3 span {font-weight:400;}*/
.next_btn {  vertical-align:middle; background-size:80% auto; height:36px;  text-align:center; width:287px;}

.footer {width:100%; text-align:center; line-height:2.0; padding:20px 0; color:#666; clear:both;}
.footer a {color:#666;}

.buttonBlue {display:block; border-radius:1px; text-align:center; vertical-align:middle;  height:24px; line-height:24px; width:100px; font-size:12px;}
a:link.buttonBlue,a:visited.buttonBlue {background-color:#00a4e4;border:1px solid #00a4e4;text-decoration:none; color:#FFF; font-family:Verdana; font-weight:bold;}
a:hover.buttonBlue {background-color:#008bc1;border:1px solid #008bc1;}
a:active.buttonBlue {background-color:#00739f;border:1px solid #00739f;}
.button{background-color:#3CB5FC;border-radius:4px;border:0; padding-left:0px; vertical-align:middle;min-width:80px;height:35px; color:#fff;font-size:16px;font-family:"黑体"; font-weight:bold; }